<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <main class="main">
    <!-- <div class="login_background"></div> -->
       <div class="container">
        <div class="row">
          <% if(errorMessage) { %>
            <div class="user-message user-message--error mt-3"><%= errorMessage %></div>
          <% } %>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="form-action mt-5">
              <div class="text-center py-3 my-2">
                <h1 class="text-white text-uppercase">Đăng Nhập</h1>
                <p class="text-white">Vui lòng nhập tài khoản email và mật khẩu</p>
              </div>
              <form action="/login" method="POST" class="d-flex flex-column justify-content-center" novalidate>
                <div class="mb-4 px-4">
                  <label for="email" class="form-label text-white">Tài khoản</label>
                  <input type="email" class="form-control <%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>" name="email" id="email" placeholder="example@gmail.com" value="<%= oldInput.email %>">
                </div>
                <div class="mb-4 px-4">
                  <label for="password" class="form-label text-white">Mật khẩu</label>
                  <input type="password" class="form-control <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>" name="password" id="password" placeholder="Mật khẩu phải ít nhất 6 ký tự" value="<%= oldInput.password %>">
                </div>
                
                <button type="submit" class="my_btn border text-white mb-4 align-self-center">Đăng nhập</button>
              </form>

              <div class="text-center text-white">
                <p>Bạn chưa có tài khoản? <a href="/register" class="text-warning link-underline link-underline-opacity-0 ">Đăng ký</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
<%- include('../layouts/end.ejs') %>