<div class="d-flex flex-column p-3 text-white bg-dark" style="height: calc(100vh - 73.6px);">
  <h3 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white">
    <span class="fs-4">Chức năng</span>
  </h3>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/room" class="nav-link <%= path === '/room' ? 'active' : 'text-white' %>" aria-current="page">
        Quản lý phòng
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/student" class="nav-link <%= path === '/student' ? 'active' : 'text-white' %>">
        Quản lý sinh viên
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/employees" class="nav-link  <%= path === '/employees' ? 'active' : 'text-white' %>">
        Quản lý nhân viên
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/class" class="nav-link text-white <%= path === '/class' ? 'active' : 'text-white' %>">
        Quản lý lớp
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/rental" class="nav-link text-white <%= path === '/rental' ? 'active' : 'text-white' %>">
        Quản lý thuê phòng
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/payment" class="nav-link  <%= path === '/payment' ? 'active' : 'text-white' %>">
        Quản lý thanh toán
      </a>
    </li>
    <li class="nav-item hover rounded mb-3 px-2 pt-1">
      <a href="/utility" class="nav-link  <%= path === '/utility' ? 'active' : 'text-white' %>">
        Quản lý điện nước
      </a>
    </li>
  </ul>
  <hr>
  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-lg text-white border logout ms-2">Đăng xuất</button>
  </form>
</div>