<%- include('../layouts/head.ejs') %>
</head>
<body>
  <div class="container-fluid">
    <div class="row bg-dark">
      <div class="col-md-2 g-0 text-center">
        <img 
          src="/image/Logo_Dai_hoc_Can_Tho.svg.png" 
          alt="logo"
          height="75px"
          class="mt-1"
        >
      </div>
      <div class="col-md-10 g-0">
        <div class="w-100 h-auto py-3 text-uppercase text-center text-white">
          <h3>Hệ thống quản lý ký túc xá</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- sidebar -->
      <div class="col-md-2 g-0">
        <%- include('../layouts/sidebar.ejs') %>
      </div>

      <!-- main -->
      <div class="col-md-7 border-end border-black" style="position: relative;">
        <% if(errorMessage) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; top: 100px; right: 0; z-index: 1000;">
            <h4><%= errorMessage %></h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        <% if(successMessage) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 100px; right: 0; z-index: 1000;">
            <h4><%= successMessage %></h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        <h3 class="text-center my-2 text-uppercase">Danh sách sinh viên</h3>
        <div class="border border-black" style="max-height: 80vh; overflow-y: auto;">
          <table class="table table-hover table-bordered text-center">
            <thead class="position-sticky" style="top: 0; z-index: 900;">
              <tr>
                <th scope="col">Mã sinh viên</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Mã lớp</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Sửa/Xóa</th>
              </tr>
            </thead>
            <tbody>
              <% allStudents.forEach(student => { %>
                <tr>
                  <td><%= student.MaSinhVien %></td>
                  <td><%= student.HoTen %></td>
                  <td><%= student.SoDienThoai %></td>
                  <td><%= student.MaLop %></td>
                  <td><%= student.GioiTinh === 'M' ? 'Nam' : 'Nữ' %></td>
                  <td>
                    <form action="/delete-student" method="POST">
                      <a href="/edit-student/<%= student.MaSinhVien %>?edit=true" class="btn border border-black hover-success"><i class="bi bi-pencil-square"></i></a>
                      <input type="hidden" value="<%= student.MaSinhVien %>" name="maSinhVien">
                      <button type="submit" class="btn border border-black hover-danger">
                        <i class="bi bi-archive-fill"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-3">
        <h4 class="text-center mt-2 mb-3 text-uppercase">Thông tin sinh viên</h4>
        <form action="/<% if(editing) {%>update-student<% } else {%>add-student<% } %>" method="POST">
          <div class="row mb-3">
            <label for="maSinhVien" class="col-sm-4">Mã sinh viên</label>
            <div class="col-md-8">
              <input type="text" id="maSinhVien" required name="maSinhVien" value="<% if(editing) { %><%= editStudent.MaSinhVien %><% } %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="hoTen" class="col-sm-4">Họ tên</label>
            <div class="col-md-8">
              <input type="text" id="hoTen" required name="hoTen" value="<% if(editing) { %><%= editStudent.HoTen %><% } %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="soDienThoai" class="col-sm-4">Số điện thoại</label>
            <div class="col-md-8">
              <input type="text" id="soDienThoai" required name="soDienThoai" value="<% if(editing) { %><%= editStudent.SoDienThoai %><% } %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="maLop" class="col-sm-4">Mã lớp</label>
            <div class="col-md-8">
              <input type="text" id="maLop" required name="maLop" value="<% if(editing) { %><%= editStudent.MaLop %><% } %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="gioiTinh" class="col-sm-4">Giới tính</label>
            <div class="col-md-8">
              <select id="gioiTinh" required name="gioiTinh">
                <option value="M" <% if(editing && editStudent.GioiTinh === 'M') { %>selected<% } %>>Nam</option>
                <option value="F" <% if(editing && editStudent.GioiTinh === 'F') { %>selected<% } %>>Nữ</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><% if(editing) { %>Cập nhật<% } else { %>Thêm<% } %></button>
        </form>
      </div>
    </div>
  </div>
<%- include('../layouts/end.ejs') %>
