<%- include('../layouts/head.ejs') %>
</head>
<body>
  <div class="container-fluid">
    <div class="row bg-dark">
      <div class="col-md-2 g-0 text-center">
        <img 
          src="/image/Logo_Dai_hoc_Can_Tho.svg.png" 
          alt="logo"
          height="75px"
          class="mt-1"
        >
      </div>
      <div class="col-md-10 g-0">
        <div class="w-100 h-auto py-3 text-uppercase text-center text-white">
          <h3>Hệ thống quản lý ký túc xá</h3>
        </div>
      </div>
    </div>
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-2 g-0">
            <div class="d-flex flex-column p-3 text-white bg-dark" style="height: calc(100vh - 73.6px);">
                <h3 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white">
                <span class="fs-4">Chức năng</span>
                </h3>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item hover rounded mb-3 px-2 pt-1">
                    <a href="/roominfo" class="nav-link <%= path === '/roominfo' ? 'active' : 'text-white' %>" aria-current="page">
                    Xem thông tin phòng
                    </a>
                </li>
                </ul>
                <hr>
                <form action="/logoutstudent" method="POST">
                <button type="submit" class="btn btn-lg text-white border logout ms-2">Đăng xuất</button>
                </form>
            </div>
        </div>

        <!-- main -->
        <div class="col-md-7 border-end border-black" style="position: relative;">
            <% if(errorMessage) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; top: 100px; right: 0; z-index: 1000;">
                <h4><%= errorMessage %></h4>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <% if(successMessage) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 100px; right: 0; z-index: 1000;">
                <h4><%= successMessage %></h4>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <h3 class="text-center my-2 text-uppercase">Thông tin phòng</h3>
            <table class="table table-bordered ">
              <tbody>
                <% if (rental) { %>
                  <tr>
                      <th scope="row">Mã hợp đồng:</th>
                      <td><%= rental.MaHopDong %></td>
                  </tr>
                  <tr>
                      <th scope="row">Mã phòng:</th>
                      <td><%= rental.MaPhong %></td>
                  </tr>
                  <tr>
                    <th scope="row">Tên phòng:</th>
                    <td><%= room.TenPhong %></td>
                  </tr>
                  <tr>
                      <th scope="row">Bắt đầu:</th>
                      <td><%= rental.BatDau ? new Date(rental.BatDau).toLocaleDateString('vi-VN') : 'N/A' %></td>
                  </tr>
                  <tr>
                      <th scope="row">Kết thúc:</th>
                      <td><%= rental.KetThuc ? new Date(rental.KetThuc).toLocaleDateString('vi-VN') : 'N/A' %></td>
                  </tr>
                  <tr>
                      <th scope="row">Giá thuê:</th>
                      <td><%= rental.Gia ? rental.Gia.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) : 'N/A' %></td>
                  </tr>
                <% } else { %>
                    <tr>
                        <td colspan="2" class="text-center">Không có thông tin phòng thuê.</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
            <h3 class="text-center my-2 text-uppercase">Thông tin điện nước</h3>
            <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Mã điện nước</th>
                      
                      <th scope="col">Tháng năm</th>
                      <th scope="col">Số tiền điện</th>
                      <th scope="col">Số tiền nước</th>
                      <th scope="col">Tiền còn lại</th>
                      <th scope="col">Ngày đóng</th>
                      <th scope="col">Thanh toán trực tuyến</th>
                  </tr>
              </thead>
              <tbody>
                  <% utilities.forEach(utility => { %>
                      <tr>
                          <td><%= utility.MaDienNuoc %></td>
                         
                          <td><%= new Date(utility.ThangNam).toLocaleDateString('vi-VN', { month: '2-digit', year: 'numeric' }) %></td>
                          <td><%= utility.SoTienDien.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></td>
                          <td><%= utility.SoTienNuoc.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></td>
                          <td><%= utility.TienConLai.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></td>
                          <td>
                            <% if (utility.NgayDong) { %>
                              <%= new Date(utility.NgayDong).toLocaleDateString('vi-VN') %>
                            <% } else { %>
                              Chưa đóng
                            <% } %>
                          </td>
                          <td>
                            <% if (!utility.NgayDong) { %>
                              <button class="btn btn-primary">Quét mã QR</button>
                            <% } %>
                          </td>
                      </tr>
                  <% }); %>
              </tbody>
            </table>
        </div>
        
        <div class="col-md-3 ">
          <h3 class="mb-4 mt-2 text-center">Thông tin sinh viên</h3>
          <table class="table table-bordered ">
              <tbody>
                  <tr>
                      <th scope="row">Mã số sinh viên:</th>
                      <td><%= student.MaSinhVien %></td>
                  </tr>
                  <tr>
                      <th scope="row">Họ và tên:</th>
                      <td><%= student.HoTen %></td>
                  </tr>
                  <tr>
                      <th scope="row">Giới tính:</th>
                      <td><%= student.GioiTinh == 'M' ? 'Nam' : 'Nữ' %></td>
                  </tr>
                  <tr>
                      <th scope="row">Số điện thoại:</th>
                      <td><%= student.SoDienThoai %></td>
                  </tr>
                  <tr>
                      <th scope="row">Mã lớp:</th>
                      <td><%= student.MaLop %></td>
                  </tr>
                  <tr>
                    <th scope="row">Tên lớp:</th>
                    <td><%= className %></td>
                </tr>
              </tbody>
          </table>
        </div>
        
      

      
    </div>
  </div>
<%- include('../layouts/end.ejs') %>